<h4>Dear <%= @user.name %></h4>
<p>
  Your account has been created successfully with ABC bank. Your account number is <%= @user.account_number %> and balance amount is <%= @user.balance_amount %>
</p>
<p>
  You can use your bank account to deposit amount into your account. You can also withdraw available amount from your account.
</p>
<p>Looking forward to serving you.</p>
<p>
Happy banking,<br/>
ABC Bank
</p>
